---
layout: layouts/agent.njk
---

{% set partner = projects | partnerProjects(agentInstance) %}
{% if partner.length > 0 %}
  <div id="partner">
    <h2>Projects involved in</h2>
    <ul>
      {% for project in partner %}
        <li>
          <a href="{% route project.slug, 'Projects' %}">{{ project.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% set funded = projects | fundedProjects(agentInstance) %}
{% if funded.length > 0 %}
  <div id="funded">
    <h2>Projects funded</h2>
    <ul>
      {% for project in funded %}
        <li>
          <a href="{% route project.slug, 'Projects' %}">{{ project.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<section class="single-pagination">
  <nav aria-label="pagination">
    <ol>
      {% if pagination.href.previous %}
        <li>
          <a href="{{ pagination.href.previous }}">{{ pagination.page.previous.agent.name }}</a>
        </li>
      {% endif %}
      {% if pagination.href.next %}
        <li>
          <a href="{{ pagination.href.next }}">{{ pagination.page.next.agent.name }}</a>
        </li>
      {% endif %}
    </ol>
  </nav>
</section>
