---
layout: layouts/base.njk
---

{{ content | safe }}

<div class="wrapper">
  <ul>
    {%- for type, items in collections.organisations | groupby('data.index') -%}
      {% if type !== "0" %}
        <li>
          <h2>{{ type }}</h2>
          <ol>
            {%- for item in items -%}
              {% set organisation = item.data %}
              <li>
                <a href="{{ organisation.page.url }}">
                  {% include "partials/organisation.njk" %}
                </a>
              </li>
            {%- endfor -%}
          </ol>
        </li>
      {% endif %}
    {%- endfor -%}
  </ul>
</div>