---
layout: layouts/base.njk
---

{{ content | safe }}

<div class="wrapper">
  <ul>
    {%- for type, items in collections.people | groupby('data.index') -%}
      <li>
        <h2>{{ type }}</h2>
        <ol>
          {%- for item in items -%}
            {% set person = item.data %}
            {% set kdlTeamMember = team | filter('KDL', 'team') | filter(person.slug, 'slug') | first %}
            <li {% if kdlTeamMember %}class="kdl-member"{% endif %}>
              <a href="{{ person.page.url }}">{{ person.name }}</a>
              {% if kdlTeamMember %}
                <sup title="Current KDL team member">KDL</sup>
              {% endif %}
            </li>
          {%- endfor -%}
        </ol>
      </li>
    {%- endfor -%}
  </ul>
</div>