---
layout: layouts/agent.njk
---

{% set agent = agentInstance.agent %}
{% set member = team | filter(agent.slug, 'slug') | first %}


  {% if agentInstance.jobTitle and agentInstance.jobTitle.name %}
    <h2>{{ agentInstance.jobTitle.name }}</h2>
  {% else %}
    {% if member %}
      <h2 class="jobtitle">{{ member.jobTitle }}</h2>
      <section>
      {% if member.feature %}
        <img src="{{ member.feature.image }}"
             alt="{{ member.feature.description }}">
      {% endif %}
    {% endif %}
    
  {% endif %}
  <div class="description">
  {% if agent.description %}{{ agent.description | renderMd | safe }}{% endif %}
  </div>
   {% if member %}
  </section>
  {% endif %}
{% set agentProjects = agent.memberOf | getAgentProjects %}
{% set agentOrganisations = agent.memberOf | getAgentOrganisations %}

{% if agentProjects.length > 0 %}
  <div class="part-of">
    <h2>Projects</h2>
    <ul>
      {% for member in agentProjects | sort(true, false, "inProject.dissolutionDate") %}
        <li>
          {% if member.inProject %}
            <a href="{% route member.inProject.slug, 'Projects' %}">
              {% set level = 3 %}
              {% set project = member.inProject %}
              {% set showTitle = true %}
              {%- include "partials/project.njk" -%}
            </a>
          {% else %}
            <a href="{% route member.inOrganisation.agent.slug, 'Partners and funders' %}">{{- member.inOrganisation.agent.name -}}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if agentOrganisations.length > 0 %}
  <section class="part-of">
    <h2>Organisations</h2>
    <ul>
      {% for member in agentOrganisations | sort(false, false, "inOrganisation.agent.slug") %}
        <li>
          <a href="{% route member.inOrganisation.agent.slug, 'Partners and funders' %}">{{- member.inOrganisation.agent.name -}}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
