---
layout: layouts/base.njk
---

{% from "kdl/components/article/macros.njk" import articleMacro %}

{{ articleMacro(obj, collections, { addLink: false }) }}

{% set previousPost = collections.post | getPreviousCollectionItem %}
{% set nextPost = collections.post | getNextCollectionItem %}

<div class="sibling-pagination">
  <nav aria-label="pagination">
    <ol>
      {% if previousPost %}
        <li>
          <a href="{{ previousPost.url }}"><ion-icon name="chevron-back-sharp" aria-label="previous project"></ion-icon> {{ previousPost.data.title }}</a>
        </li>
      {% endif %}
      {% if nextPost %}
        <li>
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }} <ion-icon name="chevron-forward-sharp" aria-label="next project"></ion-icon></a>
        </li>
      {% endif %}
    </ol>
  </nav>
</div>
