---
layout: layouts/base.njk
permalink: "projects/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---

{{ content | renderMd | safe }}
<ul class="list">
{%- for item in paginatedProjects -%}
  {% set project = item.data.project %}
<li>
  <a href="{{ item.data.page.url }}">
  <figure>
    {%- if (postImage) -%}
      <img src="{{ item.data.feature.image }}" alt="{{ item.data.feature.description }}">
      {%- else -%}
      <img src="https://img.freepik.com/free-vector/green-blue-gradient-blur-background_53876-105432.jpg?size=626&ext=jpg&ga=GA1.1.1983263632.1729360215&semt=ais_hybrid" alt="A blurred background featuring a blend of green and yellow hues, evoking a soft serene atmosphere." />
      {%- endif -%}
    <figcaption>{{ item.feature.description }}</figcaption>
  </figure>
   </a>

  <section>
  <a href="{{ item.data.page.url }}">
    {% set showTitle = true %}
    {%- include "partials/project.njk" -%}
  </a>
  </section>
  </li>
{%- endfor -%}
</ul>
{% set label = "Projects" %}
{% include "partials/pagination.njk" %}
