{% extends "layouts/base.njk" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/assets/stylesheets/main.css" />
  <link rel="stylesheet" href="/assets/reveal/reveal.css" />
  <link rel="stylesheet"
        href="/assets/stylesheets/slides/{{ slide.theme or 'light' }}.css" />
{% endblock stylesheets %}

{% block main %}
  <main class="reveal">
    <div class="slides">{{ content | safe }}</div>
  </main>
{% endblock main %}

{% block bodyEnd %}
  <script src="/assets/reveal/reveal.js"></script>
  <script src="/assets/reveal/plugin/highlight/highlight.js"></script>
  <script src="/assets/reveal/plugin/notes/notes.js"></script>
  <script>
    Reveal.initialize({
      autoSlide: {{ slide.auto or false }},
      controls: true,
      embedded: true,
      hashOneBasedIndex: true,
      hash: true,
      history: true,
      loop: {{ slide.loop or false }},
      progress: true,
      slideNumber: {{ slide.slideNumber or false}},
      transition: 'fade',
      plugins: [ RevealHighlight, RevealNotes ]
    });
  </script>
{% endblock bodyEnd %}
