---
layout: layouts/base.njk
permalink: "about/people/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---

<section>
  {{ content | safe }}
</section>

{% for team, items in team | groupby("team") %}
  {% if team == "KDL" %}
    <h2>Current {{ team }} team members</h2>
  {% else %}
    <h2>{{ team }}</h2>
  {% endif %}
  <ul>
    {%- for item in items | sort(false, false, "slug") -%}
      {% set agent = people | filter(item.slug, 'agent.slug') | first %}
      <li>
        {% if item.feature %}<img src="{{ item.feature.image }}" alt="{{ item.feature.description }}">{% endif %}
        <section>
          <h3>
            {% if agent %}
              <a href="{% route item.slug, 'People' %}">{{ agent.agent.name }}</a>
            {% else %}
              {{ item.slug }}
            {% endif %}
          </h3>
          <h2>{{ item.jobTitle }}</h2>
        </section>
      </li>
    {%- endfor -%}
  </ul>
{%- endfor -%}
