---
layout: layouts/base.njk
---

{% from "kdl/components/image/macros.njk" import imageMacro %}

{{ content | renderMd | safe }}

<section class="research">
  {% for theme in collections.theme | sort(false, false, "data.title") %}

    <div class="research-block">
      <a href="{{ theme.data.page.url }}">
        <h4>{{ theme.data.title }}</h4>
      </a>
      <a href="{{ theme.data.page.url }}">
        {% if theme.data.feature and theme.data.feature.image %}
          {{ imageMacro(theme.data.feature) }}
        {% else %}
          <img
        src="/assets/images/general/placeholder-blur1.jpg"
        alt="A blurred background featuring a blend of green and yellow hues, evoking a soft serene atmosphere."
/>
        {% endif %}
      </a>
      <p>{{ theme.data.excerpt }}</p>
    </div>
  {% endfor %}
</section>