---
layout: layouts/base.njk
---

{{ content | renderMd | safe }}

{% for theme in collections.theme | sort(false, false, "data.title") %}
  <article>
    <a href="{{ theme.data.page.url }}">
      {{ theme.data.title }}
    </a>
  </article>
{% endfor %}

<section class="discover">
  <section class="research">
          
            <div class="research-block">
              <h4>Digital creativity</h4>
              
                <p>Experimenting with digital tools to enable, enhance, and expand our cultural experiences and interactions.</p>
              
            </div>
          
            <div class="research-block">
              <h4>Indigenous Digital Humanities</h4>
              
                <p>Fostering understanding, respect, and cooperation among holding institutions, researchers and minority groups to help work on complex issues around data from indigenous community sources.</p>
              
            </div>
          
            <div class="research-block">
              <h4>Machine learning and AI</h4>
              
                <p>Working to create a virtual cycle around ML and AI that goes beyond single projects solutions across the triangle of critical, analytical and practical RSE-driven research.</p>
              
            </div>
          
            <div class="research-block">
              <h4>Data visualisation</h4>
              
                <p>Organizing data with form, structure and shape to help users understand the story it has to tell.</p>
              
            </div>
          
        </section>
    </section>