---
layout: layouts/themes.njk
title: Research Areas
eleventyNavigation:
  key: Themes
  order: 10
---

At King's Digital Lab, our research is organised around key research areas
(or themes) that reflect our expertise and the diverse range of projects we
undertake. These themes represent the core areas where we focus our efforts,
fostering innovation and interdisciplinary collaboration in the digital
humanities.

These themes serve as focal points for our projects, methodologies, and
technological advancements, contributing to the broader landscape of digital
scholarship. They reflect our commitment to pushing the boundaries of digital
humanities while maintaining a strong ethical foundation.

Explore our research themes below to discover the exciting work happening at
the intersection of technology and the humanities.


