---
layout: layouts/themes.njk
title: Research themes
permalink: projects/research-themes/
eleventyNavigation:
  key: Research
  order: 3
---

At King's Digital Lab, our research is organised around key Research Themes
 that reflect our expertise and the diverse range of projects we
undertake. 

These themes represent the core areas where we focus our efforts,
fostering innovation and interdisciplinary collaboration in the digital
humanities and beyond. They serve as focal points for our projects, methodologies, and
technological advancements, contributing to the broader landscape of digital
scholarship and research software engineering (RSE). They reflect our commitment to pushing the boundaries of Digital
Humanities and digital research experiments while maintaining a strong ethical foundation.

Explore our Research Themes below to discover the exciting work happening at
the intersection of technology and the humanities.


