{{ organisation.name }}
{%- if organisation.alternateName -%},
    <small>{{ organisation.alternateName }}</small>
{% endif %}

{%- if organisation.parentOrganisation.name -%},
<span class="parent">{{ organisation.parentOrganisation.name }}</span>
{%- else -%}
    {% set orgInCollection = collections.organisations | filter (organisation.slug, 'data.slug') | first -%}
    {% if orgInCollection and orgInCollection.data.parentOrganisation -%},
        <span class="parent">{{ orgInCollection.data.parentOrganisation.name }}</span>
    {%- endif -%}
{%- endif -%}