{%- if showTitle %}
  <h {%- if level -%}{{- level -}}{%- else -%}2{%- endif -%}>
  {{- project.name | trim -}}
  {%- if project.alternateName -%}<small>{{ project.alternateName }}</small>{%- endif -%}
  </h {%- if level -%}{{- level -}}{%- else -%}2{%- endif -%}>
{%- endif -%}

{% if project.department.length > 0 %}
  <p>
    {%- for department in project.department %}
      {% set agentInstance = department.organisation_id %}
      {% include "partials/organisation.njk" %}
      {%- if not loop.last -%}
        ,
      {% endif -%}
    {% endfor %}
  </p>
{% endif %}
{% if project.foundingDate %}
  <p>
    {{ project.foundingDate | asProjectDate }}–
    {%- if project.dissolutionDate and project.dissolutionDate != "1970-01-01" %}
      {{- project.dissolutionDate | asProjectDate }}
    {% endif %}
  </p>
{% endif %}
