name: Build 11ty frontend

on:
  push:
    branches:
      - main
      - next
      - develop
  pull_request:
    branches:
      - main
      - develop
      - next
  schedule:
    - cron: "*/30 7-22 * * *"

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: create env files
        run: |
          touch etl/.env
          echo CLICKUP_API_URL=${{ secrets.CLICKUP_API_URL }} >> etl/.env
          echo CLICKUP_API_KEY=${{ secrets.CLICKUP_API_KEY }} >> etl/.env
          echo CLICKUP_TEAM_ID=${{ secrets.CLICKUP_TEAM_ID }} >> etl/.env
          touch frontend/.env
          echo BUILD_DRAFTS=true >> frontend/.env

      - name: Install dependencies
        run: |
          npm ci

      - name: Extract projects from ClickUp
        run: |
          npm run etl:clickup frontend/src/projects

      - name: Test frontend
        run: npm run frontend:test

      - name: Build frontend
        run: |
          npm run build -w frontend -- --pathprefix 'kdl'
          npm run index -w frontend

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "ci(frontend): update data"
          file_pattern: "frontend/src/projects/*.*"

      - name: Deploy to GitHub pages
        if: github.ref == 'refs/heads/develop'
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./frontend/_site
          github_token: ${{ secrets.GITHUB_TOKEN }}
